body {
    background-color: #F8F7F6;
    border-bottom: rgb(51, 51, 51);
    border-bottom-style: double;
    border-bottom-width: 25px;
}


header {
    color: rgb(241, 241, 241);
    background-color: rgb(51, 51, 51);
    font-family: 'Andale Mono', monospace, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: left;
    line-height: 2;
}

/* Nav Bar */
nav{
    display: flex;
     height: 30px;
     border-bottom: rgb(241, 241, 241);
     border-bottom-style: solid;
     justify-content: space-around;
     align-items: center;
     background-color: rgb(51, 51, 51);
}

nav a{
    letter-spacing: 2px;
    font-family: 'Andale Mono', monospace, sans-serif;
    font-size: 20px;
    color:rgb(241, 241, 241);
}


/* IMAGE */
#div1{
    display: flex;
    margin-top: 10px;
    
   
}

#pic1{
    width: max-content;
    height: 500px;
    
    }

 
.h2{
    display: flex;
    height: 100px;
    align-items: center;
    font-family: Courier, monospace, sans-serif;
    font-weight: lighter;
    padding-left: 5px;
   margin-top: 10px;
    font-size: 32px;
    letter-spacing: 5px;
    background-color: rgb(223, 203, 193);
    background-image: linear-gradient(to right, rgb(223, 203, 193), rgb(255, 242, 235)  );
}

#p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
}

.p2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

p{
    font-size: 20px;

}

li{
    font-size: 20px;
}