body {
    background-color: #E3DAC9;
 
  
}



/* Nav Bar */

/* PARENT */
nav{
    display: flex;
    align-items: center;
    background-color: #F8F7F6;
    height: 8rem;
    justify-content: space-between;

 }

 /* CO PARENT */
#links{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;

}


 nav a{
    letter-spacing: 0.05rem;
    font-family: 'Andale Mono', monospace, sans-serif;
    font-size: 1rem;
    color:rgb(51, 51, 51);
    font-weight: bolder;
    text-decoration: none;
}

#kelsey{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 15%;
    align-items: center;
    justify-content: center;
}

nav h1{
    letter-spacing: 0.3rem;
    font-family: Bookman, "URW Bookman L", serif;
    font-size: 2rem;
    color:rgb(236, 205, 178);
  
  
}

/* IMAGE */
#div1{
    display: flex;
    height: 40rem;
    background-color: #F8F7F6;
    align-items: center;
    justify-content: center;
}

#pic1{
    width: max-content;
    height: 100%;
 
}

    

/*FADED ABOUT ME*/
#sect1{
    display: flex;
    justify-content: center;
    height: 12.5rem;
    background-color: #F8F7F6;
    
}    

#sectionp{
    color: rgb(51, 51, 51);
    font-size: 12.5rem;
    opacity: 20%;
    text-align: center;
    margin-top: 0.01rem;

}

/*BOLDED ABOUT ME*/

#sect2{
    display: flex;
    justify-content: center;
    height: 9.3rem;
    background-color: #F8F7F6;
    
}

h2{
    font-size: 3.76rem;
    text-align: center;
    color:rgb(65, 63, 63);
    letter-spacing: -0.18rem;
  
}




/*ABOUT ME PARAS*/
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55rem;

}

#about{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;   
    
}


/* CO PARENT */
#div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    

}

#p1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(65, 63, 63);
    font-size: 1.75rem;
    text-align: center;
  
}


#p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 25rem;
    color:rgb(65, 63, 63);
    font-size: 1.25rem;
    align-self: center;
    text-align: center;
    line-height: 2rem;
}

/* CO PARENT */
#div3{
    display: flex;
    width: 50%;
    flex-direction: row;

}


#pic2{
    opacity: 75%;
    width: 100%;
    height: 100%

}







