body {
    background-color: #F8F7F6;
    border-bottom: #a17d60;
    border-bottom-style: double;
    border-bottom-width: 25px;
}

header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: left;
    line-height: 2;
}

/* Nav Bar Add links later */
nav{
    height: 20px;
    border-bottom: #a17d60;
    border-bottom-style: solid;
}

nav ul{
    margin-left: auto;
    margin-right: auto;
}

nav a{
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #a17d60;
}

/* IMAGE */
#pic1{
    width: 1000px;
    height: 450px;
    margin-left: 12%;
    margin-top: 5%;
    display: block;
    border-style: solid;
    border-radius: 10px;
    }

#div1{
    background-color: #efebe4;
    padding-top: 0.01%;
}


h2{
    font-family: Times, serif;
    font-weight: lighter;
    border-bottom-style: groove;
    border-bottom-color: black;
    border-bottom-width: 2px;
    font-size: 32px;
}

#p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}

#p2{
    display: inline-block;
    text-align: left;
    width: 200px;
    height: 30px;
    margin-left: 2%;
    line-height: 150%;
}

#p3{
    display: inline-block;
    text-align: left;
    width: 200px;
    height: 30px;
    margin-left: 5%;
    line-height: 150%;
}

#pic2{
    width: 300px;
    height: 350px;
    margin-left: 60%;
    margin-block: -325px;
    margin-block-end: 50px;
    display: block;
    border-style: solid;
    border-width: 4px;
    border-radius: 200px;
}