body {
    background-color: #F8F7F6;

}


header {
    color: rgb(241, 241, 241);
    background-color: rgb(51, 51, 51);
    font-family: 'Andale Mono', monospace, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: left;
    line-height: 2;
}

/* Nav Bar */
nav{
    display: flex;
     height: 30px;
     border-bottom: rgb(241, 241, 241);
     border-bottom-style: solid;
     justify-content: space-around;
     align-items: center;
     background-color: rgb(51, 51, 51);
 }

 nav a{
    letter-spacing: 2px;
    font-family: 'Andale Mono', monospace, sans-serif;
    font-size: 20px;
    color:rgb(241, 241, 241);
}


#cont1{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}


#pic1{
    height: 500px;
    width: max-content;
  
}






#cont2{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    height: 600px;
    justify-content: center;
    background-color: rgb(223, 203, 193);
}



#pic2{
    height: 550px;
    width: 400px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

}

h2{
    font-family: 'Courier New', monospace, sans-serif;
    font-size: 60px;
    height: min-content;
    letter-spacing: 10px;
    font-weight: light;
  
}

p{
    font-size: 20px;
    font-family: Courier, monospace, sans-serif;
    height: min-content;
    
}


#cont3{
    display: flex;
    justify-content: center;
    height: 80px;
    margin-bottom: 10px;

}

#pic3{
    width: 400px;
}





#cont4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    text-align: center;
   
}


#project1{
    font-family: Courier, monospace, sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    background-color: rgb(103, 155, 137);
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

#project2{
    font-family: Courier, monospace, sans-serif;
    font-size: 28px;
    letter-spacing: 3px; 
    background-color: rgb(103, 155, 137);
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project3{
    font-family: Courier, monospace, sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    background-color: rgb(103, 155, 137);
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}




 