body {
    background-color: #F8F7F6;

}


header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: left;
    line-height: 2;
}

/* Nav Bar Add links later */
nav{
    height: 20px;
    border-bottom: #a17d60;
    border-bottom-style: solid;
}

nav ul{
    margin-left: auto;
    margin-right: auto;
}

nav a{
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #a17d60;
}

.details{
    width: 60%;
    height: 100%;
    
}

#pic1{
    height: 1500px;
    width: 40%;
    margin-top: 5%;
    margin-right: -5%;
    float: right;
    border-style: solid;
    border-width: 7px;
    
}

h1{
    font-size: 125px;
    font-family: 'arial bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    letter-spacing: 30px;
    padding-left: 50px;
}

h2{
    font-family: 'arial bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;  ;
    font-size: 50px;
    padding-left: 50px;
    margin-top: -30px;
    letter-spacing: 5px;
}

p{
    font-size: 30px;
    font-family: 'arial bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    margin-left: 50px;
    margin-top: -30px;
    border-bottom: solid;
    border-width: 5px;
}

#project1{
    margin-left: 24%;
    margin-top: 10%;
    font-family: 'arial bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
}

#project2{
    margin-left: 24%;
    margin-top: 25%;
    font-family: 'arial bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
}

#project3{
    margin-left: 24%;
    margin-top: 30%;
    font-family: 'arial bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
}




 