body {
    background-color: #36454F;
    margin-bottom: 5rem;
 
  
}

/* Nav Bar */

/* PARENT */
nav{
    display: flex;
    align-items: center;
    background-color: #F8F7F6;
    height: 8rem;
    justify-content: space-between;
 }


 /* CO PARENT */
 #links{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;

}

nav a{
    letter-spacing: 0.05rem;
    font-family: 'Andale Mono', monospace, sans-serif;
    font-size: 1rem;
    color:rgb(51, 51, 51);
    font-weight: bolder;
    text-decoration: none;
}

#kelsey{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 15%;
    align-items: center;
    justify-content: center;
}




nav h1{
    letter-spacing: 0.3rem;
    font-family: Bookman, "URW Bookman L", serif;
    font-size: 2rem;
    color:rgb(236, 205, 178);
  
  
}




/* IMAGE */
#picheader{
    display: flex;
    flex-direction: row;
    height: 50rem;
    background-color: #edede9;

}

#pic1{
    width: 100%;
    height: 100%;
   
  
}






/* PORT HEADER/ PARENT */
#portheader{
    display: flex;
    opacity: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    background-color: #edede9;
    color: rgb(51, 51, 51);
    font-size: 10rem;
   

 

}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* PROJECTS */

/* PARENT */
#project1{
    display: flex;
    background-color: #F3EFE2;
    margin-top: 5rem;
    width: 70%;
    height: 50rem;    
  
}

/* CO PARENT */
#div1{
    display: flex;
    flex-direction: row;
    width: 50%;
}

/* CHILD */
#pic2{
    height: 100%;
    width: 100%;
}

/* CO PARENT */
#div2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* CHILD */
#p1{
    width: 100%;
    font-size: 5rem;
    text-align: center;
    color: rgb(51, 51, 51);
   
}




/* PARENT */
#project2{
    display: flex;
    flex-direction: row-reverse;
    height: 50rem;
    background-color: #F3EFE2;
    margin-top: 5rem;
    width: 70%;
  
}

/* CO PARENT */
#div3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}


/* CHILD */
#pic3{
    height: 100%;
    width: 100%;
}


/* CO PARENT */
#div4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* CHILD */
#p2{
    width: 100%;
    font-size: 5rem;
    text-align: center;
    color: rgb(51, 51, 51);
   
}


/* PARENT */
#project3{
    display: flex;
    flex-direction: row;
    height: 50rem;
    background-color: #F3EFE2;
    margin-top: 5rem;
    width: 70%;
 
}

/* CO PARENT */
#div5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* CHILD */
#pic4{
    height: 100%;
    width: 100%;
   
}


/* CO PARENT */
#div6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* CHILD */
#p3{
    width: 100%;
    font-size: 5rem;
    text-align: center;
    color: rgb(51, 51, 51);
   
}